<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Корзина товаров</title>
</head>

<body>
<div style="width:70%;margin-left: auto;margin-right: auto;">
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<h1 style="text-align:center;">Корзина товаров</h1>
    <p style="text-align:center;color:red" th:if="${session.error != null}" th:text="${session.error}">Error message</p>

<table style="margin-left:auto;margin-right:auto;">
    <tr th:each="itemModel : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" alt="image" height="300" th:src="${itemModel.getImgPath()}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${itemModel.getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${itemModel.getPrice()}+' руб.'"></b>
                    </td>
                </tr>
                <tr><td th:text="${itemModel.getDescription()}"></td></tr>
                <tr>
                    <td>
                        <form th:action="${'/cart/items/'+itemModel.getId()}" method="post">
                            <button name="action" value="MINUS">-</button>
                            <span th:text="${itemModel.getCount()}"></span>
                            <button name="action" value="PLUS">+</button>
                            <button name="action" value="DELETE" style="float:right;">&cross;</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: '+${#numbers.formatDecimal(total,2,2)}+' руб.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form action="/buy" method="post" th:if="${!empty}">
                <button>Купить</button>
            </form>
        </td>
    </tr>
</table>
</div>
</body>

</html>
